<div class="col-md-4 mx-auto">
    <div class="card" style="width: 25rem; text-align: left;">
    <img src="/img/card.webp" class="card-img-top" alt="..." height="100px">
    <div class="card-body">
        <h4 class="card-title text-dark"><b>Lesson:</b>  {{RowDataPacket.curso}}</h4>
        <h5 class="card-title text-dark"><b>Title:</b>  {{RowDataPacket.titulo}}</h5>
        <p class="card-text text-dark"><b>Description:</b>  {{RowDataPacket.descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Id:</b> {{RowDataPacket.id}}</li>
        <li class="list-group-item"><b>Created at:</b> {{RowDataPacket.fecha}}</li>
        <li class="list-group-item"><b>Condition:</b> {{RowDataPacket.estado}}</li>
    </ul>
    </div>
</div>


